* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
}

.category {
    display: inline-block;
    width: 50%;
    margin-bottom: 50px;
    border: 1px solid rgb(165, 165, 165);
    border-top: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
    color: gray;
    outline: none;
    text-decoration:none;
    padding: 10px 0;
}

.player-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-input>input {
    height: 30px;
    width: 200px;
    font-size: 16px;
    padding-left: 10px;
}

.player-input>button {
    height: 30px;
    background-color: rgb(8, 53, 138);
    border: 2px solid rgb(8, 53, 138);
    border: 0;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.player-input>button:active {
    background-color: white;
    color: rgb(8, 53, 138);
}

.counter {
    margin: 10px;
}

.puzzle {
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    width: 302px;
    height: 302px;
    border: 1px solid rgb(8, 53, 138);
}

.puzzle-block {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(8, 53, 138);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(166, 230, 255);
    color: rgb(8, 53, 138);
}

.blank {
    font-size: 0;
    background-color: white;
}

.ranking-table {
    display: flex;
    flex-flow: row wrap;
    width: 302px;
    margin: 0 auto;
}

.ranking-table>p {
    width: 33.33333%;
}

.ranking-table>.title {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}